/*
 *  Calendar Component
 */
 
.CalendarBox {
	width: 25vw;
	height: 30vh;
	border: solid 2px black;
}

.CalendarDays {
	border: solid 2px red;
	width: 100%;
	height: 90%;
	font-size: 1rem;
	display: inline-grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.EachDay {
	width: 85%;
	height: 85%;
	position: relative;
	top: -25%;
	left: 5%;
	cursor: pointer;
	border: solid 2px var(--m-color);
}
.EachDay:hover {
	background-color: lightgreen;
}
.EmptyDay {
	visibility: hidden;
}
.Today {
	width: 85%;
	height: 85%;
	background-color: lightsalmon;
	position: relative;
	top: -25%;
	left: 5%;
	cursor: pointer;
}
.Today:hover {
	background-color: blue;
}

.MonthName {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 3vh;
}

.DayName {
	font-size: 1rem;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
	width: 100%;
	height: 5vh;
	color: white;
}
.DayName>span:nth-child(6) {
	color: red;
}
.DayName>span:nth-child(7) {
	color: red;
}


/*
 *  Schedule Component
 */

.ScheduleBox {
	width: 100%;
	height: 100%;
}

.ScheduleBox>span {
	position: absolute;
	z-index: 100;
}

.ScheduleBox>div {
	width: 100%;
	height: 20%;
	background-color: limegreen;
	margin-bottom: 5vh;
}

.ScheduleBox>div>div {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.ScheduleBox div>div:nth-child(2) {
	height: 20%;
	position: absolute;
	box-sizing: border-box;
	background-color: lightsalmon;
	margin-left: 1vw;
}

.ScheduleBox>div>div>p {
	position: absolute;
	margin: 0;
	margin-top: 3vh;
	width: 100%;
	text-align: center;
}

/*
 *  Identity Component
 */

.IdentityBox input {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 2vh;
}

/*
 *  Propose Component
 */

.ProposeBox {
	width: 55vw;
	height: 80vh;
}

.ProposeBox label {
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 1.5rem;
	font-size: 1.5rem;
	color: grey;
}

.ProposeBox>form>input:nth-child(2) {
	margin-bottom: 5vh;
	font-size: 1.5rem;
	padding-left: 1.5rem;
	width: 100%;
	height: 5vh;
}

.ProposeBox>form>input:nth-child(5) {
	margin-top: 5vh;
	font-size: 1.5rem;
	width: 30%;
	height: 5vh;
	cursor: pointer;
}

.ProposeBox input {
	display: block;
	box-sizing: border-box;
}
.ProposeBox textarea {
	display: block;
	width: 100%;
	height: 50vh;
	box-sizing: border-box;
}


