/*
 *  Info
 */

.Info {
	grid-column: 1/2;
	width: 100%;
	height: 100%;
}


/*
 * 	Project 
 */

.Project {
	grid-column: 2/3;
	width: 100%;
	height: 100%;
}

.Project>div {
	width: 100%;
	height: 8%;
}

.Project>div>button:nth-child(1) {
	width: 50%;
	height: 100%;
	font-size: 1.7rem;
}
.Project>div>button:nth-child(2) {
	width: 50%;
	height: 100%;
	font-size: 1.7rem;
}

.Project table {
	margin-top: 3%;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.Project th {
	height: 80px;
	font-size: 1.3rem;
}

.Project td {
	height: 50px;
	border: solid 2px red;
	text-align: center;
}

.Project tbody>tr:hover {
	background-color: linen;
}

.Project tbody td:nth-child(4) {
	color: blue;
}


/*
 * misc 
 */

.Paid {
	color: red!important;
}

.Project>div:nth-child(3) {
	position: absolute;
	left: 25vw;
	top: 30vh;
	width: 50vw;
	height: 40vh;
	background-color: lightgreen;
	padding: 3rem;
	box-sizing: border-box;
	z-index: 2;
}
.Project>div:nth-child(4) {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	opacity: 0.8;
	z-index: 1;
	cursor: pointer;
}

.Deposit>div:nth-child(4) {
	margin-top: 3rem;
	color: red;
}
.Deposit>button {
	margin-top: 2rem;
}
.DepositBG:hover {
	background-color: grey!important;
}

.BlueText {
	color: blue;
	font-size: 0.8rem;
}
