:root {
	--b-color: ivory;
	--b-color: #ece6cc;
	--m-color: #ffb97b;
	--s-color: #345F53;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background-color: var(--b-color);
}

.root>button {
	width: 100px;
	margin: 20px;
	position: absolute;
}
.root>button:nth-child(2) {
	margin-left: 140px;
}
.root>button:nth-child(3) {
	margin-left: 260px;
}

.App {
	padding: 2vh 5vw;
}

.EmptyPage {
	position: absolute;
	width: 60vw;
	height: 72vh;
	right: 5vw;
	top: 21vh;
	box-sizing: border-box;
}
.EmptyPage p {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	top: 30%;
}

.Logo {
	position: absolute;
	width: 60vw;
	height: 72vh;
	right: 5vw;
	top: 21vh;
	box-sizing: border-box;
}
.Logo>div {
	position: absolute;
	top: 25vh;
	left: 32vw;
}
.Logo p {
	font-size: 1.2rem;
}
.Logo img {
	position: absolute;
	width: 25vw;
	height: 25vw;
	top: 10vh;
	left: 5vw;
}

.Admin {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 5vh 5vw 5vh 5vw;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 2vw;
}

.Admin>div:nth-child(1) {
	grid-column: 1/3;
	grid-row: 1/2;
}

.UserInfo {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 2vh 5vw 5vh 5vw;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	grid-gap: 5vw;
}

/**
 * 		Erase it, later.
 **/
.Admin>div {
	border: solid 1px red;
}

.UserInfo>div {
}

/**
 * 		misc
 **/

.checkPaymentAlert {
	font-size: 1rem;
	color: blue;
}
.checkPaymentAlarm {
	font-size: 2.5rem;
	color: blue;
}

.IngressAdmin {
	position: absolute;
	width: 50vw;
	height: 50vh;
	border: solid 2px black;
	left: 25vw;
	top: 25vh;
}

.IngressAdmin>input {
	display: block;
	position: relative;
	width: 50%;
	height: 10%;
	top: 25%;
	left: 25%;
	margin-bottom: 20px;
	padding-left: 20px;
	box-sizing: border-box;
}
.IngressAdmin>button {
	display: block;
	position: relative;
	width: 40%;
	height: 10%;
	top: 30%;
	left: 30%;
}
