/**
 * 		root
 **/

:root {
	--b-color: ivory;
	--b-color: #ece6cc;
	--m-color: #ffb97b;
	--s-color: #345F53;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background-color: var(--b-color);
}


/**
 * 		App	
 **/

.App {
	padding: 2vh 5vw;
}


/**
 * 		EmptyPage	
 **/

.EmptyPage {
	position: absolute;
	width: 60vw;
	height: 72vh;
	right: 0;
	top: 21vh;
	padding-left: 4vw;
	box-sizing: border-box;
}
.EmptyPage p {
	position: relative;
	width: 100%;
	font-size: 1.9rem;
	top: 30%;
	color: var(--s-color);
	word-spacing: 8px;
}
.EmptyPage p:nth-child(1) {
	margin-left: -1.5vw;
}
.UnderLine {
	border-bottom: solid 4px var(--m-color);
	font-size: 2.1rem;
}


/**
 * 		Logo	
 **/

.Logo {
	position: absolute;
	width: 60vw;
	height: 72vh;
	right: 5vw;
	top: 21vh;
	box-sizing: border-box;
}
.Logo>div {
	position: absolute;
	top: 25vh;
	left: 32vw;
}
.Logo p {
	font-size: 1.2rem;
}
.Logo img {
	position: absolute;
	width: 25vw;
	height: 25vw;
	top: 10vh;
	left: 5vw;
}


/**
 * 		Admin Ingress
 **/

.IngressAdmin {
	position: absolute;
	width: 50vw;
	height: 50vh;
	border: solid 2px black;
	left: 25vw;
	top: 25vh;
}

.IngressAdmin>input {
	display: block;
	position: relative;
	width: 50%;
	height: 10%;
	top: 25%;
	left: 25%;
	margin-bottom: 20px;
	padding-left: 20px;
	box-sizing: border-box;
}
.IngressAdmin>button {
	display: block;
	position: relative;
	width: 40%;
	height: 10%;
	top: 30%;
	left: 30%;
}
.IngressAdmin>p {
	font-size: 1.3rem;
	position: absolute;
	width: 100%;
	top: 1vh;
	left: 30%;
	word-spacing: 5px;
}
.IngressAdmin>span {
	color: red;
	font-size: 2rem;
	position: absolute;
	z-index: 2;
	width: 70%;
	padding: 3vw;
	text-align: center;
	background-color: lightsalmon;
	box-sizing: border-box;
	left: 15%;
	bottom: 40%;
}


/**
 * 		Admin
 **/

.Admin {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 5vh 5vw 5vh 5vw;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 2vw;
}

.AdminBtn {
	position: absolute;
	width: 3vw;
	padding: 0.7vw;
	border-radius: 2vw;
	right: 1vw;
	bottom: 1vw;
	cursor: pointer;
}
.AdminBtn:hover {
	background-color: var(--m-color);
}


/**
 * 		UserInfo
 **/

.UserInfo {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 2vh 5vw 5vh 5vw;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	grid-gap: 5vw;
}

/**
 * 		Erase it, later.
 **/

/**
 * 		misc
 **/
