body {
	margin: 0;
}

.vertical {
	position: absolute;
	width: 2px;
	height: 70vh;
	background-color: black;
}
.vertical {
	left: 50vw;
	top: 10%;
}

.App>div:nth-child(1) {
	position: absolute;
	top: 10%;
	left: 2.5vw;
}
.App>div:nth-child(3) {
	position: absolute;
	top: 10%;
	right: 2.5vw;
}
