body {
	margin: 0;
}

.App>div:nth-child(1) {
	position: absolute;
	top: 5%;
	left: 5%;
}
.App>div:nth-child(2) {
	position: absolute;
	top: calc(5% + 30vh + 10%);
	left: 5%;
}
.App>div:nth-child(3) {
	position: absolute;
	top: 10%;
	left: 40%;
}

.Login {
	position: absolute;
	width: 30vw;
	height: 5vh;
	border: solid 1px black;
	top: 5vh;
	right: 7vh;
}
